#container{padding: 20px;}
h1{color:rgb(146, 6, 6)}
span{font-size: 25px; font-weight: bold;color:  darkblue;}
p{font-family: Gill Sans Extrabold; font-size: 19px}
pre{color:rgb(222, 33, 33); font-weight: bold; margin-left:50px;}
.use{color:green; margin-left: 20px;}
.sub-heading{color: black; font-size: 21px;}
.ques{color: rgb(3, 85, 3);}