#container{padding: 20px}
h1{color:rgb(146, 6, 6)}
span{font-size: 25px; font-weight: bold;color:  darkblue;}
p{font-family: Gill Sans Extrabold; font-size: 19px;margin-left: 20px;}
pre{color:rgb(222, 33, 33); margin-left:50px;font-size: 15px;}
.use{color:green; margin-left: 20px;}
.sub-heading{color: black; font-size: 21px;}
.ques{color: rgb(12, 131, 12);}

.button-link {
  padding: 8px 16px;
  color:white;
  background-color: green;
  text-decoration: none;
  border-radius: 4px;
}
table{margin-left: 20px; }
td{ padding: 5px;padding-left: 30px;}